*{
    font-size:  25px;
    font-family: cursive ;
}
section {
    background-color: antiquewhite;
    

   

}
section#flor {
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    padding: 50px 30px 50px 30px ;
    background-attachment: fixed;
    

}
.branco{
    color: aliceblue;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.304);
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    


}
main{
    
}
p{
    padding: 2px;
   

}